{% comment %}
Scripts are added based on the page.scripts variable
This variable is defined in front-matter with:

---
scripts:
    - src: "./script1.js"
      defer: true
      async: false
      crossorigin: "anonymous"
    - src: "./script2.js"
      defer: true
      type: "module"
---

{% endcomment %}

{%- if layout.scripts -%} {%- for script in layout.scripts -%}
<script src="{{ script.src | relative_url }}"
    {% if script.type %} type="{{ script.type }}" {% endif %}
    {% if script.defer %} defer {% endif %}
    {% if script.async %} async {% endif %}
    crossorigin="{% if script.crossorigin %}{{ script.crossorigin }}{% else %}anonymous{% endif %}"></script>
{%- endfor -%} {%- endif -%}

{%- if page.scripts -%} {%- for script in page.scripts -%}
<script src="{{ script.src | relative_url }}"
    {% if script.type %} type="{{ script.type }}" {% endif %}
    {% if script.defer %} defer {% endif %}
    {% if script.async %} async {% endif %}
    crossorigin="{% if script.crossorigin %}{{ script.crossorigin }}{% else %}anonymous{% endif %}"></script>
{%- endfor -%} {%- endif -%}

<script src="https://framasoft.org/nav/nav.js" defer></script>
