<!doctype html>
<html lang="{{ site.lang }}" data-base-relative="{{ "/" | relative_url }}">
    {%- include head.html -%}
    <body>
        {%- include header.html -%}
        {{ content }}
    </body>
</html>
